* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

h1 {
  margin-top: 55px;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  width: 340px;
}

h4 {
  text-align: right;
}

h5 {
  height: 22px;
  text-align: left;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.wrapper {
  height: 760px;
  width: 979px;
  margin: 0 auto;
}

.wrapper3 {
  height: 760px;
  width: 979px;
  margin: 0 auto;
}

.learn-more {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.learn-more a {
  text-decoration: none;
  color: white;
  background-color: #79ADDC;
  padding: 11px 22px;
  border-radius: 50px;
}

.learnMore {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}
.learnMore a {
  color: white;
  padding: 8px 8px;
  background-color: #79adcc;
  border-radius: 15px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.box {
  width: 60px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  text-align: center;
  background-color: #79addc;
  margin-top: 25px;
}
.box .date {
  color: white;
  font-size: 22px;
  font-family: fantasy;
}
.box .month {
  color: white;
  font-size: 12px;
  font-family: "Franklin Gothic Medium";
}

.wrapper-so {
  width: 818px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 830px) {
  .wrapper-so {
    width: 527px;
  }
}
@media only screen and (max-width: 540px) {
  .wrapper-so {
    width: 236px;
  }
}
nav {
  width: 900px;
  height: 90px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid white;
  z-index: 11;
}
nav .links {
  height: 42px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
nav .links a span {
  color: #79ADDC;
}

.hero {
  height: 500px;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}
.hero img {
  position: absolute;
  width: 100%;
}
.hero .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .container {
  max-width: 714px;
  height: 160px;
  margin-top: 250px;
  height: 60%;
}
.hero .container h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: white;
}
.hero .container em {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.hero2 {
  height: 200px;
  width: 981px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.hero2 img {
  width: 100%;
}
.hero2 .overlay {
  height: 100%;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero2 .container2 {
  height: 80px;
  max-width: 226px;
}
.hero2 .container2 h1 {
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  font-family: "Arial Narrow";
}

@media only screen and (max-width: 600px) {
  .hero2 {
    width: 550px;
  }
}
.hero3 {
  max-width: 981px;
  height: 413px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 48px;
  position: relative;
}
.hero3 img {
  width: 100%;
}
.hero3 .overlay {
  height: 100%;
  width: 100%;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero3 .container {
  height: 106px;
  max-width: 687;
  margin-bottom: 289px;
  margin-left: 30px;
}
.hero3 .container h1 {
  color: white;
  font-size: 80px;
  font-family: "Arial Narrow";
}
.hero3 .price {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 30px;
  font-family: "Arial Narrow";
}

@media only screen and (max-width: 600px) {
  .hero3 {
    width: 500px;
  }
}
.promo {
  width: 100%;
  height: 100%;
}
.promo .promo-container {
  width: 100%;
  margin-top: -60px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promo .promo-holder {
  width: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}
.promo .promo-holder .holder {
  position: relative;
  width: 236px;
  height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.promo .promo-holder .holder img {
  width: 100%;
  height: 100%;
}
.promo .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  color: white;
}
.promo .overlay .text {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.promo .overlay .text h1 {
  font-size: 60px;
  margin-bottom: 11px;
}
.promo .overlay .text h2 {
  font-size: 30px;
  margin-bottom: -30px;
}

@media screen and (max-width: 820px) {
  .promo-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo-holder .holder {
    margin-bottom: 20px;
  }
}
.booking {
  width: 830px;
  height: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.booking .container {
  width: 830px;
  max-width: 1920px;
}
.booking .container .title h1 {
  font-size: 60px;
  font-family: sans-serif;
}
.booking .container form {
  background-color: white;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
}
.booking .container form .text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.booking .container form input {
  height: 58px;
  border: 2px solid #79ADDC;
  padding: 10px;
  margin: 21px;
}
.booking .container form #name, .booking .container form #country {
  width: 344px;
}
.booking .container form #email, .booking .container form #hotel {
  width: 453px;
}
.booking .container form #check-in, .booking .container form #check-out {
  width: 698px;
}
.booking .container form select {
  height: 58px;
  border: 2px solid #79ADDC;
  padding: 10px;
  width: 103px;
  margin: 21px;
}
.booking .container form .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.booking .container form textarea {
  height: 192px;
  border: 2px solid #79ADDC;
  width: 830px;
  margin-bottom: -100px;
}
.booking .container form .learn-more a {
  width: 100%;
  text-align: center;
  margin-bottom: 120px;
}

@media screen and (max-width: 820px) {
  .booking .container form #name, .booking .container form #country {
    width: 600px;
  }
  .booking .container form #email, .booking .container form #hotel {
    width: 600px;
  }
  .text-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about {
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
}
.about .container {
  width: 980px;
  height: 364px;
  margin-top: 300px;
  padding: 30px;
}
.about .container .title2 {
  width: 345px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .container .title2 h1 {
  font-size: 60px;
  text-align: left;
  font-family: Arial;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}
.about .container .title2 h2 {
  font-size: 40px;
  text-align: left;
  font-family: Arial;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  margin-top: 100px;
}
.about .container .text {
  width: 980px;
  height: 96px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .container .text p {
  font-size: 16px;
  font-family: sans-serif;
}

@media only screen and (max-width: 900px) {
  .about .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 600px;
  }
  .about .text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 300px;
    display: block;
  }
  .about .text p {
    width: 300px;
  }
}
.wrapper2 {
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px;
  margin-top: 200px;
}
.wrapper2 .aboutPerson {
  max-width: 676px;
  min-height: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}
.wrapper2 .aboutPerson .personImage {
  width: 250px;
  height: 150px;
}
.wrapper2 .aboutPerson .personImage img {
  width: 100%;
}
.wrapper2 .aboutPerson .about-client {
  width: 385px;
}
.wrapper2 .aboutPerson .about-client p {
  font-size: 16px;
  font-family: cursive;
}
.wrapper2 .aboutPerson .author {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #79ADDC;
}

@media only screen and (max-width: 744px) {
  .aboutPerson {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .aboutPerson .personImage {
    display: block;
    margin-bottom: 20px;
  }
  .aboutPerson .about-client {
    display: block;
  }
}
.tour {
  width: 236px;
  height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 55px;
  margin-top: 49px;
}
.tour .holder2 {
  position: relative;
  width: 236px;
  height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.tour .holder2 img {
  width: 100%;
}
.tour .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Cochin, sans-serif;
  color: white;
  overflow: hidden;
}
.tour .overlay .text h1 {
  font-size: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.tour .overlay .price {
  font-size: 25px;
  margin-bottom: 57px;
  text-align: center;
}

.pictures {
  max-width: 981px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 10px;
}
.pictures .holder3 {
  position: relative;
  width: 298px;
  height: 347px;
}
.pictures .holder3 img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .pictures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .pictures .holder3 {
    margin-bottom: 20px;
  }
}
.info {
  height: 776px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.info .info-container {
  max-width: 980px;
  margin: 0 auto;
}
.info .info-container .title {
  width: 235px;
}
.info .info-container .title h1 {
  font-size: 60px;
  font-family: Helvetica;
  border-bottom: 2px solid black;
}
.info .info-container .text {
  width: 980px;
}
.info .info-container .text p {
  font-size: 16px;
  font-family: "Lucida Sans Unicode";
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 10px;
}
.info .bookNow {
  width: 133px;
  background-color: #79addc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin: 0 auto;
  margin-bottom: 80px;
  border-radius: 15px;
}
.info .bookNow a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 8px 8px;
}

@media only screen and (max-width: 700px) {
  .info .info-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 600px;
  }
  .info .title {
    margin: 0 auto;
    margin-top: 80px;
    width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info .text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: left;
    font-size: 25px;
  }
}
.title3 {
  margin: 0 auto;
  width: 979px;
}
.title3 .line {
  width: 102px;
  border-bottom: 2px solid black;
  margin-top: -10px;
  margin-bottom: 10px;
}

.offer {
  width: 979px;
  height: 700px;
}
.offer .info-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 979px;
  height: 350px;
  position: relative;
}
.offer .info-special .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 199px;
  height: 287px;
}
.offer .info-special .photos img {
  width: 100%;
}
.offer .info-special .offers {
  width: 250px;
  margin-bottom: 50px;
  padding: 20px;
}
.offer .info-special .offers .both {
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.offer .info-special .offers .both .line {
  width: 196px;
  border-bottom: 2px solid black;
}
.offer .info-special .offers .both .discount {
  color: red;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer .info-special .offers p {
  text-align: left;
  width: 210px;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.offer .info-special .learnMore {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 50px;
}
.offer .info-special .learnMore a {
  text-decoration: none;
  color: white;
  padding: 8px 8px;
  background-color: #79addc;
  border-radius: 15px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media only screen and (max-width: 990px) {
  .title3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
    padding: 20px;
  }
}
@media only screen and (max-width: 990px) {
  .wrapper-so {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
    padding: 20px;
  }
}
@media only screen and (max-width: 560px) {
  .offer {
    width: 600px;
  }
  .offer .info-special {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 560px) {
  .offers {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offers h1 {
    width: 100px;
  }
  .offers .both {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px;
  }
  .offers .both .line {
    width: 20px;
  }
  .offers .both .discount h4 {
    text-align: left;
  }
  .offers p {
    width: 30px;
    text-align: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.blog-info {
  width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.blog-info .box {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #79addc;
  margin-top: -1px;
}
.blog-info .box .date {
  color: white;
  font-size: 22px;
  font-family: fantasy;
}
.blog-info .box .month {
  color: white;
  font-size: 12px;
  font-family: "Franklin Gothic Medium";
}
.blog-info .group {
  width: 900px;
  height: 376px;
}
.blog-info .group .images {
  overflow: hidden;
  width: 900px;
  height: 259px;
}
.blog-info .group .images img {
  width: 100%;
}
.blog-info .group .top {
  text-align: left;
  margin-top: 11px;
}
.blog-info .group .top p {
  width: 380px;
  height: 64px;
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #79addc;
}

@media only screen and (max-width: 990px) {
  h5 {
    margin-top: -30px;
  }
  .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
    height: 850px;
    padding: 20px;
  }
}
@media only screen and (max-width: 990px) {
  .blog-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    width: 300px;
    margin-top: -10px;
  }
  .blog-info .group {
    margin-top: 5px;
  }
  .blog-info .group .images img {
    width: 300px;
  }
  .blog-info .group .top {
    margin-top: -5px;
  }
}
.contact {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .map {
  width: 400px;
  margin-top: 10px;
}
.contact .map .map-image {
  width: 100%;
  height: 442px;
  margin-bottom: 34px;
}
.contact .map .map-image img {
  width: 100%;
}
.contact .map .address {
  width: 100%;
  height: 161px;
  font-size: 18px;
  font-family: "Trebuchet MS";
}
.contact .contactForm {
  width: 529px;
  height: 560px;
}
.contact .contactForm .textFields {
  width: 100%;
  height: 60px;
  margin-bottom: 21px;
  padding: 20px;
}
.contact .contactForm textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 199px;
  padding: 20px;
}
.contact .contactForm .sendMessage {
  margin-top: 20px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #79addc;
}

@media only screen and (max-width: 990px) {
  .wrapper3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
    height: 1250px;
    padding: 20px;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    height: 400px;
  }
  .map {
    margin-bottom: 20px;
    width: 300px;
  }
  .contactForm .textFields {
    width: 100%;
    height: 20px;
  }
}
footer {
  height: 100px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 220px;
}
footer .logo {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .copyright {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
footer .sm {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}